$story-now-border-color-highlight: #9883FC;
$story-now-text-color-highlight: #9883FC;

@font-face {
	font-family: "Open Sans" sans-serif;
	/* #ifndef APP */
	src: url("./static/font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
	/* #endif */
}

.view-with-header {
	padding-top: 80rpx;
}

.page-header {
	padding-top: 40px;
}

.highlight {
	color: $story-now-text-color-highlight;
}

.storynow-agreement {
	color: $story-now-text-color-highlight;
	cursor: pointer;
}