/* #ifndef APP */
$story-now-text-color-highlight: #9883FC;
/* #endif */

@font-face {
	font-family: "Open Sans" sans-serif;
	/* #ifndef APP */
	src: url("./static/font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
	/* #endif */
}

.view-with-header {
	padding-top: 80rpx;
}

.page-header {
	padding-top: 40px;
}

.highlight {
	color: #9883FC;
}