@import '@/App.scss';

.page-view {
	width: 100%;
	min-height: 100%;
	font-family: "Open Sans";
	background-image: url('../static/img_bg.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #f5f5f5;
}

.main-form {
	margin: 0 16px;
	border-radius: 20px;
	background: #FFF;
	padding: 16px;
}

.uni-easyinput {
	border-radius: 12px;
}

.uni-forms-item__content {
	border-radius: 12px;
}
.uni-easyinput__content {
	background: $light_brand_04 !important;
	padding: 8px;
	border-radius: 12px;
}

.uni-easyinput__content-input {
	background: $light_brand_04;
	border-radius: 12px;
}

.main-title {
	overflow: hidden;
	color: $light_text_gray1;
	text-overflow: ellipsis;
	
	/* Title/medium */
	font-family: "Open Sans";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 40px;
	/* 125% */
	
	margin-bottom: 8px;
}

.captcha {
	border-radius: 12px;
}

.login-psw-header {

		display: flex;
		flex-direction: row;
		column-gap: 12px;
		padding: 16px 16px 24px;

		&-logo {
			width: 52px;
			height: 52px;
		}

		&-title {
			display: flex;
			flex-direction: column;
			row-gap: 4px;

			&-main {
				color: $light_text_gray1;
				font-family: "SF UI Display";
				font-size: 24px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}

			&-sub {
				color: var(--light-text-gray03, $light_text_gray3);

				/* body/regular */
				font-family: "PingFang SC";
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 20px;
				/* 142.857% */
			}
		}
	}
	
.is-input-focused {
	border-color: $story-now-border-color-highlight;
}

.uni-input-placeholder {
	color: $light_text_gray4;
}